.spacing {
    margin: 1%;
    margin-top: 2%;
}

.gridContainer {
    display: grid;
}

.row1 {
    grid-row: 1/2;
}

.links {
    color: white;
}

.links:hover {
    text-decoration: none;
    color: black;
}

.background {
    //background-color: white;
}

.background:hover {
    background-color: #E3E3E3;
}