.spacing {
    padding: 1%;
    padding-top: 2%;
}

.gridContainer {
    display: grid;
}

.row1 {
    grid-row: 1/2;
}

.links {
    color: black;
}

.main-image {
    transform: scale(1.0);
    transition: 0.3s all;
}

.links:hover {
    text-decoration: none;
    color: black;
}

.links:hover .main-image {
    transform: scale(1.25);
    transition: 0.5s all;
}
