@import 'ember-bootstrap/bootstrap';
@import './cardetailspage';
@import 'ember-mdi';
@import './fpCard';

html,
body {
  min-width: 560px;
}

.mainLogo {
    max-width: 300px;
    max-height: 150px;
}

.img-thumbnail {
    border: none;
}

.btn-margin {
    margin-top: 1em;
}

.trim-margin {
    margin-bottom: 2em;
}