{{page-title "Benzy Clubbers"}}
<header>
  <BsNavbar @type="dark" @backgroundColor="dark" as |navbar|>
    <div class="navbar-header">
      {{#link-to "index" class="navbar-brand"}}<img src="https://i.imgur.com/Wiq7iFc.png" class="mainLogo"
        alt="Mercedes-Benz"> {{/link-to}}
    </div>
    <navbar.content>
    </navbar.content>
    <navbar.nav as |nav|>
      <nav.item>
        <a href="https://www.mbusa.com/en/home" style="text-decoration: none; color:white;">Visit Official Mercedes-Benz Website</a>
      </nav.item>
    </navbar.nav>
  </BsNavbar>
</header>

<main class="car-details mb-5">
  {{outlet}}
</main>

<footer class="page-footer font-small bg-dark text-white py-3 mt-5">
  <div class="text-center">© 2021 Copyright:
    <a href="https://github.com/Benzy-Clubbers"> Benzy Clubbers Team</a>
  </div>
</footer>