{{page-title "Benzy Clubbers - Home Page"}}
<div class="container" style="max-width: 70%;">
    <div class="card-deck">
        {{#each this.model as |car|}}
            <div class="spacing">
                <FrontPageCard @car={{car}}/>
            </div>
        {{/each}}
    </div>
</div>